.filters {
  background: #fcfcfc;
  padding: 20px;
  border-radius: 10px;
  
}

.filters h3 {
  margin-bottom: 15px;
}

.filters label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.filters input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.filters button {
  width: 100%;
  padding: 10px;
  background: #e5e7eb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.filters button:hover {
  background: #d1d5db;
}

.class num1{
  width: 10%;
}

.class num2{
 width: 0%;
}