.header-top {
   max-width: 1440px;
  margin: 0 auto;
  background: #000;
  padding: 12px 40px;
  display: flex;
  justify-content: flex-end;
}

.header-top a {
  color: white;
  margin-left: 24px;
  text-decoration: none;
  font-size: 14px;
}

.header-main {
  
  background: white;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.header__logo {
  font-size: 26px;
  font-weight: 700;
}

.header__links {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.header__cart {
  width: 22px;
  cursor: pointer;
}

