.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.product-card {
  height: 100%;
  
}

.product-card h3{
    font-size: 1rem;
    opacity: 1;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
}

