    <footer class="footer">
      <div class="footer-content">

        <div class="footer-col">
          <h5>Tienda</h5>
          <a href="#">Polos</a>
          <a href="#">Tazas</a>
          <a href="#">Stickers</a>
        </div>

        <div class="footer-col">
          <h5>Compañía</h5>
          <a href="/about">Quiénes somos</a>
          <a href="#">Términos y condiciones</a>
          <a href="#">Privacidad</a>
        </div>

        <div class="footer-col">
          <h5>Conecta</h5>
          <a href="#">WhatsApp</a>
          <a href="#">Facebook</a>
          <a href="#">Instagram</a>
        </div>

        <div class="footer-col footer-newsletter">
          <h5>Suscríbete a nuestro boletín</h5>
          <p>
            Recibe las últimas ofertas y descuentos en tu correo
            semanalmente.
          </p>

          <div class="newsletter-form">
            <input type="email" placeholder="Tu correo electrónico">
            <button>Suscribirse</button>
          </div>
        </div>

      </div>

      <div class="footer-bottom">
        Todos los derechos reservados © Full Stock
      </div>
    </footer>