    <header class="header-top">
        <nav>
          <a href="#">Iniciar sesión</a>
          <a href="#" class="header-button">Crear una cuenta</a>
        </nav>
    </header>

    <header class="header-main">
        <!-- <div class="header__logo">Full Stock</div> -->
        <a href="/" class="header__logo">Full Stock</a>

        <ul class="header__links">
           <li><a href="/categories/1">Polos</a></li>

          <li><a href="#">Tazas</a></li>
          <li><a href="#">Stickers</a></li>
        </ul>

        <img src="/images/carrito-compras.png" class="header__cart">
    </header>
            