    <header class="header-top">
        <nav>
          <a href="/login">Iniciar sesión</a>
          <a href="/signup" class="header-button">Crear una cuenta</a>
        </nav>
    </header>

    <header class="header-main">
        <!-- <div class="header__logo">Full Stock</div> -->
        <a href="/" class="header__logo">Full Stock</a>

        <ul class="header__links">
           <li><a href="/categories/1">Polos</a></li>

          <li><a href="/categories/2">Tazas</a></li>
          <li><a href="/categories/3">Stickers</a></li>
        </ul>
        <a href="/cart">
            <img src="/images/carrito-compras.png" class="header__cart">
        </a>
    </header>
            