/* 1. Settings */
@import url("1-settings/colors.css");
@import url("1-settings/spacing.css");
@import url("1-settings/typography.css");
@import url("1-settings/width.css");

/* 3. Generic */
@import url("3-generic/reset.css");

/* 4. Elements */
@import url("4-elements/elements.css");

/* 5. Objects */
@import url("5-objects/objects.css");

/* 6 Componentes */

@import url("6-components/header.css");
@import url("6-components/footer.css");
@import url("6-components/content-polos.css");
@import url("6-components/aside-polos.css");
@import url("6-components/category-info.css");
@import url("6-components/products-polo.css");
@import url("6-components/orderConfirmation.css");
